.about-container,
.discover-section,
.place-section,
.subscribe-container,
.sponsor-container,
.video-container,
.footer-container {
  width: 96%;
  max-width: 1024px;
  margin: 0 auto;
}
/* .video-section {
  grid-template-columns: 0.6fr;
} */

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
}
main .about-title {
  padding-top: 80px;
}
.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-container h4 {
  font-size: 0.95rem;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}
.about-container button {
  font-size: 0.95rem;
  padding: 18px 22px;
}
.about-img-container {
  padding: 40px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.about-img:nth-child(1) {
  width: 130px;
}
.about-img:nth-child(2) {
  width: 180px;
}

/* DISCOVER */
.discover-section {
  /* margin: 0 20px; */
  width: 93%;
  margin: 0 auto;
  padding-top: 80px;
  overflow: hidden;
}
.discover-slides {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.slide-container {
  position: relative;
  color: white;
  width: 200px;
  margin: 15px;
  overflow: hidden;
}
.slide-container::before {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.2) 77%,
    rgba(0, 0, 0, 0.7964227927499125) 100%
  );
  position: absolute;
  width: 100%;
  height: 99%;
}
.slide-container:hover img {
  transform: scale(1.1);
}
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}
.slide-info {
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.slide-title {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 6px;
}
.slide-desc {
  font-size: 0.85rem;
  font-weight: 400;
}

/* EXPERIENCE */
.experience-section {
  margin-bottom: 80px;
  padding-top: 80px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
}
.experience-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}
.experience-info {
  padding: 1rem 0.6rem;
}
.experience-title {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 0.7rem;
  color: var(--text-color);
}
.experience-desc {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.3rem;
}
.experience-image-container {
  height: 200px;
  position: relative;
}
.experience-image-container .img-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.experience-image-container .img-container:nth-child(1) {
  width: 18rem;
  transform: translateX(-60%);
}
.experience-image-container .img-container:nth-child(2) {
  width: 8rem;
  top: 2rem;
  transform: translateX(20%);
}

/* VIDEO SECTION */
.video-section {
  margin-bottom: 30px;
  padding-top: 40px;
  width: 100%;
  max-width: 968px;
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 0.6fr));
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}
.video-section-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  gap: 20px;
}
.video-desc {
  font-size: 0.97rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  color: var(--text-color);
}
.video-container {
  position: relative;
  width: 22rem;
}
.video-file {
  width: 100%;
}
.video-button {
  position: absolute;
  padding: 20px 32px;
  bottom: -1rem;
  right: 1rem;
}

/* PLACE SECTION */
.place-section {
  margin-top: 20px;
  margin-bottom: 90px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.place-content-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  gap: 25px;
}
.place-content {
  position: relative;
  color: white;
}
.place-content:hover .place-img {
  transform: scale(1.1);
}
.place-content .img-container {
  height: 230px;
}
.place-content-desc {
  position: absolute;
  height: 230px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.place-rating {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
}
.place-rating i {
  padding: 0 0.3rem;
}
.place-title {
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 1px 1px var(--text-color);
  position: absolute;
  left: 0.5rem;
  top: 8rem;
}
.place-country {
  font-size: 0.87rem;
  font-weight: 300;
  text-shadow: 1px 1px var(--text-color);
  position: absolute;
  left: 0.5rem;
  top: 9.5rem;
}
.place-price {
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 1px 1px var(--text-color);
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
}
.place-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 13px 20px;
  z-index: 1;
}

/* SUBSCRIBE SECTION */
.subscribe-container {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 968px;
  background-color: var(--title-color);
  gap: 30px;
}
.subscribe-title {
  font-size: 1.3rem;
  color: white;
}
.subscribe-desc {
  font-size: 1rem;
  color: white;
  padding: 0 10px;
}
.subscribe-container form {
  display: block;
  width: 100%;
  position: relative;
}
.subscribe-container input {
  width: 100%;
  padding: 25px 10px;
  font-size: 0.9rem;
  color: rgb(179, 179, 179);
  background-color: var(--body-color);
  border: none;
  outline: none;
}
.subscribe-button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  padding: 15px 30px;
  /* background-color: var(--title-color); */
  font-size: 1rem;
}

/* SPONSOR SECTION */
.sponsor-container {
  padding: 100px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  justify-content: center;
  gap: 2.8rem;
}
.sponsor img {
  opacity: 0.2;
}
.sponsor img:hover {
  opacity: 0.4;
  transform: scale(1);
}

@media screen and (min-width: 680px) {
  .home-content {
    padding-right: 10rem;
  }
  .about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 40px;
  }
  .about-content {
    align-items: flex-start;
  }
  .about-content .about-title,
  .about-container h4 {
    width: 100%;
    text-align: left;
  }
  .about-content .about-title {
    padding-top: 30px;
  }
  .discover-section {
    width: 90%;
    max-width: 600px;
  }
  .slide-desc {
    font-size: 0.93rem;
  }
  /* DISCOVER SECTION */
  .experience-info {
    width: 6rem;
  }
  .experience-title {
    font-size: 1.6rem;
  }
  .experience-desc {
    font-size: 0.9rem;
  }
  .experience-image-container .img-container:nth-child(1) {
    width: 22rem;
    transform: translateX(-50%);
  }
  .experience-image-container .img-container:nth-child(2) {
    width: 9.5rem;
    top: 3rem;
    transform: translateX(40%);
  }

  .video-section {
    grid-template-columns: repeat(1, minmax(100px, 0.8fr));
  }
  .video-section-container {
    width: 90%;
  }
  .video-container {
    width: 30rem;
  }
  .video-section .title-content {
    padding-top: 60px;
  }

  .place-content-container {
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
  }
}

@media screen and (min-width: 968px) {
  .home-container {
    padding-bottom: 5rem;
  }
  .logo-social {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  /* ABOUT SECTION */
  section .title-content {
    font-size: 1.4rem;
  }
  .about-container h4 {
    font-size: 1.05rem;
  }
  .about-img-container .about-img:nth-child(1) {
    width: 10rem;
  }
  .about-img-container .about-img:nth-child(2) {
    width: 13rem;
  }
  .discover-section {
    width: 90%;
    max-width: 715px;
  }
  .slide-container {
    width: 15rem;
  }
  .experience-image-container .img-container:nth-child(1) {
    width: 26rem;
    transform: translateX(-65%);
  }
  .experience-image-container .img-container:nth-child(2) {
    width: 12rem;
    top: 2rem;
    transform: translateX(10%);
  }

  /* VIDEO SECTION */
  .video-section {
    grid-template-columns: repeat(1, minmax(100px, 0.8fr));
  }
  .video-section-container {
    max-width: 700px;
  }
  .video-section-container .title-content {
    padding-top: 120px;
  }
  .video-desc {
    font-size: 1rem;
    padding-right: 6rem;
    padding-left: 6rem;
  }

  /* PLACES SECTION */
  .place-content-container {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .home-content {
    padding-right: 20rem;
  }
  .experience-image-container {
    width: 30%;
  }
  section .title-content {
    font-size: 1.6rem;
  }
  .experience-info {
    width: 8rem;
  }
  .experience-info .experience-title {
    font-size: 1.7rem;
  }
  .experience-info .experience-desc {
    font-size: 1.05rem;
  }
  .experience-image-container .img-container:nth-child(1) {
    width: 32rem;
    transform: translateX(-65%);
  }
  .experience-image-container .img-container:nth-child(2) {
    width: 14rem;
    top: 3.5rem;
    transform: translateX(15%);
  }

  .video-section {
    grid-template-columns: repeat(1, minmax(400px, 1fr));
  }
  .video-section-container {
    width: 90%;
    max-width: 1600px;
  }
  .video-section-container .title-content {
    padding-top: 220px;
  }
  .video-container {
    width: 50rem;
  }
  .place-content-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
