.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 70px 20px 0 20px;
}
.title-content {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.3px;
  color: var(--title-color);
  padding: 20px 0;
  text-align: center;
}
.about-container h4 {
  font-size: 0.95rem;
  font-weight: 400;
  padding: 10px 0;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}
.about-container button {
  font-size: 0.95rem;
  padding: 18px 22px;
}
.about-img-container {
  padding: 40px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.about-img:nth-child(1) {
  width: 130px;
}
.about-img:nth-child(2) {
  width: 180px;
}

/* DISCOVER */
.discover-section {
  /* margin: 0 20px; */
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
  overflow: hidden;
}
.discover-slides {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  /* overflow: hidden; */
}
.slide-container {
  position: relative;
  color: white;
  width: 200px;
  margin: 15px;
  overflow: hidden;
}
.slide-container::before {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.2) 77%,
    rgba(0, 0, 0, 0.7964227927499125) 100%
  );
  position: absolute;
  width: 100%;
  height: 99%;
}
.slide-container:hover img {
  transform: scale(1.1);
}
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  background-image: none;
}
.slide-info {
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.slide-title {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 6px;
}
.slide-desc {
  font-size: 0.85rem;
  font-weight: 400;
}

/* EXPERIENCE */
.experience-section {
  margin-bottom: 80px;
  padding-top: 80px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
}
.experience-info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}
.experience-info {
  padding: 1rem 0.6rem;
}
.experience-title {
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 0.7rem;
  color: var(--text-color);
}
.experience-desc {
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--text-color);
  line-height: 1.3rem;
}
.experience-image-container {
  width: 90%;
  height: 200px;
  position: relative;
}
.experience-image-container .img-container {
  position: absolute;
}
.experience-image-container .img-container:nth-child(1) {
  width: 263px;
  right: 3rem;
}
.experience-image-container .img-container:nth-child(2) {
  width: 120px;
  top: 2rem;
  right: 0;
}

/* VIDEO SECTION */
.video-section {
  margin-bottom: 30px;
  padding-top: 40px;
  width: 100%;
  margin: 0 auto;
}
.video-section-container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.video-desc {
  font-size: 0.97rem;
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
  color: var(--text-color);
}
.video-container {
  position: relative;
  width: 100%;
}
.video-file {
  width: 100%;
}
.video-button {
  position: absolute;
  padding: 20px 32px;
  bottom: -1rem;
  right: 1rem;
}

/* PLACE SECTION */
.place-section {
  margin-top: 20px;
  margin-bottom: 90px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.place-content-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 25px;
}
.place-content {
  position: relative;
  color: white;
}
.place-content:hover .place-img {
  transform: scale(1.1);
}
.place-content .img-container {
  height: 230px;
}
.place-content-desc {
  position: absolute;
  height: 230px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.place-rating {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
}
.place-rating i {
  padding: 0 0.3rem;
}
.place-title {
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 1px 1px var(--text-color);
  position: absolute;
  left: 0.5rem;
  top: 8rem;
}
.place-country {
  font-size: 0.87rem;
  font-weight: 300;
  text-shadow: 1px 1px var(--text-color);
  position: absolute;
  left: 0.5rem;
  top: 9.5rem;
}
.place-price {
  font-size: 1rem;
  font-weight: 400;
  text-shadow: 1px 1px var(--text-color);
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
}
.place-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 13px 20px;
  z-index: 1;
}

/* SUBSCRIBE SECTION */
.subscribe-container {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--title-color);
  gap: 30px;
}
.subscribe-title {
  font-size: 1.3rem;
  color: white;
}
.subscribe-desc {
  font-size: 1rem;
  color: white;
  padding: 0 10px;
}
.subscribe-container form {
  display: block;
  width: 100%;
  position: relative;
}
.subscribe-container input {
  width: 100%;
  padding: 25px 10px;
  font-size: 0.9rem;
  color: rgb(179, 179, 179);
  background-color: var(--body-color);
  border: none;
  outline: none;
}
.subscribe-button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  padding: 15px 30px;
  /* background-color: var(--title-color); */
  font-size: 1rem;
}

/* SPONSOR SECTION */
.sponsor-container {
  padding: 100px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  justify-content: center;
  gap: 2.8rem;
}
.sponsor img {
  opacity: 0.2;
}
.sponsor img:hover {
  opacity: 0.4;
  transform: scale(1);
}
