header {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.home-background {
  position: absolute;
  height: 100vh;
  max-height: 640px;
  width: 100vw;
  padding: 0;
  margin: 0;
  object-fit: cover;
  object-position: 83%;
  z-index: -1;
}
nav {
  position: fixed;
  height: 55px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  padding: 15px;

  z-index: 2;
  transition: all 0.15s;
}
nav .logo-head a {
  font-weight: bold;
  letter-spacing: 1.2px;
}
.nav-scroll {
  background-color: var(--body-color);
  box-shadow: 0px -6px 10px 2px rgba(0, 0, 0, 0.69);
  color: var(--title-color);
}
.nav-scroll a {
  color: var(--title-color);
}
.menu-icon {
  cursor: pointer;
}
.menu-nav {
  position: fixed;
  top: 0;
  right: -80px;
  height: 100vh;
  width: 0;
  box-shadow: 5px -12px 10px 2px rgba(0, 0, 0, 0.69);
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding: 60px 40px;
  background-color: white;
  z-index: 8;
  transition: all 0.4s ease-in-out 0.05s;
  overflow: hidden;
}
.menu-nav.active {
  width: 70%;
  right: 0;
}
.menu-nav a {
  color: var(--light-blue);
  text-transform: uppercase;
}
.close-nav {
  position: fixed;
  bottom: 30px;
  right: -80px;
  font-size: 1.6rem;
  color: var(--dark-blue);
  transition: all 0.4s ease-in-out 0.05s;
}
.close-nav.active {
  right: 30px;
}
.menu-nav .open {
  position: relative;
  font-weight: bold;
  color: var(--dark-blue);
}
.menu-nav .open::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 0.2rem;
  bottom: -10px;
  background-color: var(--dark-blue);
}
.home-container {
  /* position: relative; */
  box-sizing: border-box;
  display: flex;
  width: 90%;
  padding: 100px 120px 40px 15px;
  height: 100vh;
  max-height: 640px;
}
.home-content h4 {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 14px;
}
.home-content h2 {
  font-size: 2.6rem;
  font-weight: 400;
  padding-bottom: 30px;
}
.home-content > button {
  width: 100px;
  height: 48px;
  transition: all 0.2s;
}
.logo-social {
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  width: max-content;
  gap: 30px;
  font-size: 1.2rem;
}
.home-info {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  /* gap: 1rem; */
  padding: 20px 16px;
  width: 230px;
  background-color: var(--title-color);
}
.info-content h2 {
  font-size: 0.9rem;
  padding-bottom: 15px;
}
.info-content p {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.info-content p i {
  padding-left: 6px;
}
.img-home {
  width: 100px;
  height: 70px;
}

@media screen and (min-width: 680px) {
  header {
    width: 100vw;
  }
  .menu-nav {
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    padding: 10px;
    gap: 60px;
    box-shadow: none;
    background: none;
  }
  .menu-nav a {
    color: white;
  }
  .menu-nav .open {
    color: white;
  }
  .menu-nav .open::before {
    background: white;
    left: 50%;
    transform: translateX(-50%);
  }
  nav .menu-icon {
    display: none;
  }
  nav {
    padding: 0 calc(100% - (97% - 2rem));
    overflow: visible;
    width: 100vw;
  }
  .menu-nav a {
    color: white;
    text-transform: capitalize;
  }
  .nav-scroll a,
  .nav-scroll .open {
    color: var(--title-color);
  }
  .nav-scroll .open::before {
    background: var(--title-color);
  }
  .logo-head a,
  .menu-nav a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 968px) {
  .home-container {
    position: relative;
    /* width: 80%; */
    margin: 0 auto;
    padding-left: 0;
    padding-right: 15rem;
    align-items: flex-end;
  }
  .home-background {
    width: 100vw;
  }
  .home-content h4 {
    font-size: 1.2rem;
  }
  .home-content > h2 {
    font-size: 4.3rem;
  }
  .logo-social {
    flex-direction: row;
    gap: 50px;
  }
  .home-info {
    width: 328px;
    height: 140px;
    padding: 40px 10px;
    /* right: 1rem; */
  }
  .img-home {
    width: 120px;
    height: auto;
  }
  .info-content {
    padding-left: 0.7rem;
  }
  .info-content h2 {
    font-size: 1.02rem;
  }
}

@media screen and (main-width: 1020px) {
  .home-container {
    max-width: 1024px;
  }
}
